 nav{
background:rgb(232, 243, 244);
display: flex;
gap: 200px;
/* padding: 1rem 2rem; */
 padding: 30px 50px; 
position: sticky;
top: 0;
z-index: 100;
justify-content: center;
align-items: center;
border-bottom: 1px solid #ffffff1a;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
  display: flex;
  list-style: none;
   gap: 2rem
}

.nav-links a{
    text-decoration: none;
    color:#878986 ;
    font-weight: bold;
    transition: color 0.3s;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
}
    .nav-links a:hover {
  color: black;
}
logo{
    height: 40px;
    font-weight: bold;
    font-size: 22px;
}
nav button {
    border-radius: 25px;
    background:#F9D67B; 
    border: none;
    padding: 15px 25px;
    cursor: pointer; 
    white-space: nowrap;
} 
.dropdown {
  position: absolute;
  bottom: 190px;
  left:700px;
  /* background: #7ba3f9;  */
  list-style: none;
  
}

.dropdown li {
  margin: 5px 0;
}

.dropdown a {
  color: #222;
  text-decoration: none;
}







